html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: PT Serif, serif;
}

#header {
    background: #B7F0F2;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header > h1 {
    color: white;
}

input {
    color: #12CDD4;
    background-color: white;
    font-size: 50px;
    border: 2px solid #88E6E9;
    border-radius: 5px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 40%;
}

.textbtn {
    font-family: PT Serif, sans-serif;
}

#modal_error {
    display: none;
    color: indianred;
}

#response {
    background-color: white;
    color: grey;
    display: flex;
    flex-direction: column;
}

.status {
    color: #12CDD4;
}

h6 {
    color: gainsboro;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}