<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Page Title</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='medicate.css') }}">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <title>Medicine Tracker</title>
</head>

<body>
    <div id="header">
        <div id="container">
            <br>
            <h1>Did I Medicate?</h1>
            <div id="uid-box"><ps>User info retrieved</p></div>
        </div>
        <img id="logo" width="10%" src="{{url_for('static', filename='basiclogo.png')}}" alt="pill with question mark">
        <h3>Forgot if you took your medication today? Track and check your status here.</h3>
        
        <input type="button" name="req_popup" id="myBtn" value="Click Here to Begin">
    </div>
    
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Did you take your medication today?</p>
            <button id="yesBtn" class="textbtn">Yes!</button>
            <button id="noBtn" class="textbtn" >No, but I'll come back to hit "Yes!" when I do.</button>
            
            <!-- Add error logic -->
            <p id="modal_error">Something went wrong.</p>
        </div>
    </div>
    
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];
        var noBtn = document.getElementById("noBtn");
        var yesBtn = document.getElementById("yesBtn");
        btn.onclick = function() {
            modal.style.display = "block";
        }
        
        span.onclick = function() {
            modal.style.display = "none";
        }
        
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        
        noBtn.onclick = function(event) {
            modal.style.display = "none";
        }
        
        yesBtn.onclick = function(event) {
            d = new Date();
            var time = d.getTime();
            window.localStorage.setItem('timeTaken', String(time));
            
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("response").innerHTML =
                        this.responseText;
                }
            };
            xhttp.open("GET", "{{url_for('popup')}}", true);
            xhttp.send();
            
            modal.style.display = "none";
            btn.style.display = "none";
        }
    </script>
    
    <div id="response">
    </div>
    
    <footer>
        <h6>Created by Ki Wooten and Siegfried Porterfield.</h6>
    </footer>
    
    
</body>    

</html>